
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1rem;
        }

        header button{
            width: 7em;
            height: 2em;
            border-radius: 0.7rem;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
        }

        .navbar a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1rem;
            position: relative;
            bottom: 0;
            width: 100%;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        .item {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 20px;
            margin: 10px 0;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 24px;
        }

        p {
            font-size: 16px;
        }

        .book-image {
            max-width: 30vw;
            height: auto;
            margin-top: 20px;
        }

        /* Responsive layout */
        @media (max-width: 768px) {
            .container {
                padding: 10px;
            }
        }

        .hidden{
            display: none;
        }
        .alert-msg {
            border-radius: 1em;
            position: fixed;
            width: 400px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color:#B5B5B5;
            border: 1px solid #ccc;
            padding: 20px;
            z-index: 10;
            text-align: center;
        }
        
        .alert-heading {
            text-align: center;
        }
        
        .content ul {
            padding: 0;
            list-style-type: none;
        }
        
        .content li {
            margin: 10px;
        }
        
        button {
            display: block;
            margin: 10px auto;
        }
        
.blur{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 5;

}

